# .htaccess (Ver 02 - Fix PHP Handler và Index)
# - Đảm bảo index.html là trang mặc định.
# - Ép buộc server thực thi file .php như một module.

DirectoryIndex index.html
AddHandler application/x-httpd-php .php
